/*Nemet Orsolya*/
h4 {
	color: #253858;
	margin-bottom: .8rem;
	position: relative;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5rem;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
	display: block;
	color: rgb(113, 120, 126);
	font-family: 'Lato', sans-serif;
}

.error-text {
	text-align: center;
}

.error {
	font-size: 180px;
	font-weight: 100;
}