/*Nemet Orsolya*/
html, body {
	background-image:
		url('https://upload.wikimedia.org/wikipedia/commons/7/77/UBB_Cluj-Napoca_Gate.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: sans-serif;
	height: 100%;
}

.container {
	height: 80%;
	align-content: center;
}

.card {
	height: 300px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header h3, p {
	color: white;
	vertical-align: middle;
	text-align: center;
}

.input-group-prepend span {
	width: 50px;
	background-color: #FFC312;
	color: black;
	border: 0 !important;
}

input:focus {
	outline: 0 0 0 0 !important;
	box-shadow: 0 0 0 0 !important;
}

.login_btn {
	color: black;
	background-color: #FFC312;
	width: 100px;
}

.login_btn:hover {
	color: black;
	background-color: white;
}

form>label>.important {
	font-size: 10pt;
	font-weight: 500;
	color: #FFC312;
	text-align: center;
}